body{
    font-family: Hellix;
}
.main-account{
    padding: 0 15px;
    padding-top: 60px;
}
.account-head{
    margin-bottom: 31px;
}
.account-head, .account-set{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.account-set{
    width: 35%;
}
.account-set h2{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}
.account-head i{
    color: #0000007A;
    font-size: 20px;
}
.set-head{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2;
    line-height: 19px;
    text-align: left;
    color: #29252E6B;
    margin-bottom: 30px;
}
.phone-set{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.phone-set h3{
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-align: left;
}
.settings-email{
    text-decoration: none;
    color: #ff0000;
    font-size: 16px;
    letter-spacing: 20;
}
.account-location{
    width: 100%;
    height: 150px;
}
.account-location label{
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom: 10px;
}
.kilo-dist{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.account-location p{
    position: relative;
}
.account-location input {
    width: 95%;
    height: 52px;
    margin-bottom: 10px;
    border-radius: 25px;
    background: #f4f4f4;
    /* display: block; */
}
.account-location p input::placeholder{
    font-size: 18px;    
}

.account-location i{
    position: absolute;
    bottom: 25px;
    right: 40px;
    font-size: 25px;
    color: #c4c4c4;
}
ion-range {
    --bar-background:rgb(247, 247, 247);
    --bar-background-active: purple;
    --bar-height: 6px;
    --bar-border-radius: 6x;
    --knob-background: purple;
    --knob-size: 40px;
    --pin-background: rgb(225, 142, 225);
    --pin-color: #fff;
    width:85%;
    padding-left: 20px;
  }

  @media (max-width: 400px) {
    .account-head{
        margin-bottom: 20px;
    }
    .account-set h2 {
        font-size: 18px;
        font-weight: 600;
    }
    .main-account {
        padding-top: 30px;
    }
    .set-head {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
    }
  }