.log-main{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100vw;
    height: 100vh;
}
.em{
    font-weight: 700;
}
.letter{
    width: 100%;
    height: 120px;
    /* background: red; */
    align-content: center;
}
.log-h2{
    width: 100%;
    font-family: Hellix;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #000000;
    margin: auto;
    margin-bottom: 10px;
}
.log-p{
    font-family: Hellix;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 15px;
}

.input{
    width: 100%;
    height: 330px;
}

.form{
    height: 100%;
    width: 100%;
}

.innert-input{
    height: 100px;
    width: 100%;
    padding-left: 15px;
    margin-bottom: 0;
}

.label{
    display: block;
    padding: 15px;
    font-size: 16px;
}

.input-type{
    height: 47px;
    width: 90%;
    border: #DBDBDB 1px solid;
    border-radius: 10px;
    color: #000;
    line-height: 3;
}

.inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.anchor{
    width: 100%;
    font-family: Hellix;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.40799999237060547px;
    text-align: center;
    color: #1B1D25A3;
    margin-bottom: 50px;
    text-decoration: none;
}
.but{
    width: 90%;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(91.34deg, #4B164C 4.28%, #730075 102.07%);
}

input::placeholder{
    padding-left: 7%;
}

.ordiv{
    padding-top: 20px;
    color: #BFBFBF;
    margin-bottom: 40px;
}

.log-media{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.logo-icon{
    padding: 20px 20px;
    font-size: 24px;
    border-radius: 60%;
    border: 0.5px solid #12121D1A;
    margin: 0 10px;
}
.log{
    height: 16px;
    width: 100%;
    font-family: Hellix;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}
.log p{
    height: 16px;
    width: 100%;
    font-family: Hellix;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: right;
    color: #3B3237;
    display: inline;
}
.fa-apple{
    color:#000;
}
.fa-facebook{
    color: #1977F3;
    background: #fff;
}
.fa-google{
    color: linear-gradient(270deg, red 30%, yellow 15%, blue 55%);
}
.but{
    width: 90%;
    height: 38px;
    border-radius: 10px;
    background: linear-gradient(91.34deg, #4B164C 4.28%, #730075 102.07%);
}
.log a{
    height: 16px;
    width: 50px;
    left: 254px;
    top: 729px;
    font-family: Hellix;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #4B164C;
    text-decoration: none;
}

@media (max-width: 400px) {
    .image {
        text-align: center;
        margin-bottom: 15px;
        height: 100px;
    }
    .log-h2{
        font-size: 20px;
    }
    .log-p{
        font-size: 14px;
        margin: 5px 20px;
    }
    .input-type{
        height: 38px;
        width: 90%;
    }
    .label{
        font-size: 14px;
    }
    .input-type::placeholder{
        font-size: 14px;
    }
    .anchor{
        font-size: 14px;
        margin-bottom: 25px;
    }
    .letter{
        height: 100px;
    }
    .ordiv{
        padding-top: 15px;
        margin-bottom: 20px;
    }
    .logo-icon{
        padding: 15px 15px;
        font-size: 20px;
        border-radius: 60%;
        border: 0.5px solid #12121D1A;
        margin: 0 10px;
    }
    .log{
        width: 100%;
        font-family: Hellix;
        font-size: 14px;
        font-weight: 300;
        line-height: 12px;
        letter-spacing: 0.02em;
        text-align: center;
        margin: auto;
        margin-top: 15px;
    }
}
/* @media (max-width: 380px) {
    .input{
        height: 250px;
    }
    .innert-input{
        margin-bottom: 4px;
        height: 70px;
    }
    .label {
        padding: 4px 15px;
    }
    .anchor{
        margin-bottom: 15px;
    }
    .log-media {
        margin-bottom: 0;
    }
} */
@media (max-width: 300px) {
    .image{
        height: 120px;
    }
    .log-p {
        font-size: 14px;
        line-height: 1.2;
        margin: 0 10px;
    }
    .input{
        height: 250px;
    }
    .innert-input{
        margin-bottom: 4px;
        height: 70px;
    }
    .label {
        padding: 4px 15px;
    }
    .anchor{
        margin-bottom: 15px;
    }
    .log-media {
        margin-bottom: 0;
    }
}