
:root {
    --match-percentage: #730075;
    --white: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.makebody {
    font-family: Hellix, sans-serif;
}

.navline{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin:8% auto auto auto;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.avatars{
    display: grid;
	grid-auto-flow: column;
	gap: 24px;
	height: 88px;
	overflow-x: scroll;
	scroll-behavior: smooth;
    text-align: center;
 
}


.plus-sign{
    position: absolute;
    bottom: 1.5rem;
    right: .05rem;
}

.search-partners {
    width: 90%;
    background-color: #F8E7F6;
    /* margin: 1rem 0; */
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.75rem;
    padding: 0 0.5rem;
    text-align: center;
    margin: 15px auto;
}

.search-p{
    margin-right: 30px;
}

.make-friends {
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
}
.home-picture{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    height: 26.1rem;

}
.main-picture, .one, .two, .three{
    position: absolute;
    height: 26.1rem;
}
.main-picture{
    z-index: 6;
    width: 100%;
}
.one{
    width: 95%;
    top: .75rem;
    z-index: 5;
}
.two{
    width: 90%;
    top: 1.5rem;
    z-index: 4;
}
.three{
    width: 85%;
    top: 2.2rem;
    z-index: 2;
}

.percentage-match{
    position: absolute;
    width: 100px;
    height: 26px;
    border-radius: 0 0 20px 20px;
    background-color: var(--match-percentage);
    /* left: 50%; */
    translate: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.percentage-match p
{
    font-size: .75rem;
    color: white;
}

.profile-text{
    z-index: 12;
    position: absolute;
    bottom: 120px;
    left: 40px;
    color: #fff;
}

.profile-icon{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 12;
    position: absolute;
    bottom: 30px;
    
}

.profile-icon div{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.xmark, .star{
    background-color: rgba(255, 255, 255, 0.37);
    width: 51px;
    height: 51px;
    color: white;
}

.like{
    width: 71px;
    height: 71px;
    background-color: white;
    color: #DD88CF;
}

.col-text{
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: var(--white);
}

.favorite-icons{
    margin: 60px 20px;
    display: flex;
    justify-content: space-between;
    /* z-index: 10; */
}

.scroll-line{
    height: 5px;
    width: 134px;
    border-radius: 10px;
    background-color: #29252E;
    position: relative;
    bottom: .5rem;
    left: 50%;
    translate: -50%;
}