body{
    font-family: Hellix;
}
.profile{
    width: 100%;
    height: 100vh;
}

.header-profile{
    padding-top: 59px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 27px;
    padding-right: 30px;
}

.header-profile h2{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

.profile-photo {
    text-align: center;
}

.image-photo{
    position: relative;
    display: flex;
    flex-direction: column;
}
.image-photo img{
    width: 100px;
    height: 100px;
    margin: auto;
}

.image-photo .combo{
    position: absolute;
    color: #fff;
    background: purple;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 10px;
    text-align: center;
    margin-left: 36%;
}

.profile-name{
    margin-top: 30px;
    text-align: center;
}
.profile-user{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-user h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.06em;
    text-align: center;
}

.profile-interest{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.profile-user .fa-pen{
    margin-left: 10px;
    top: 6;
    background: #00000052;
    padding: 10px;
    border-radius: 50%;
    color: #000;
}

.at-email{
    font-size: 22px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #29252E54;
}

.header-interest{
    padding-left: 30px;
}
.profile-about{
    height: 200px;
    padding-top: 15px;
    padding-left: 27px;
    padding-right: 30px;
}

.profile-about h2{
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 5px;
    text-align: left;
}

.lorem{
    font-size: 16px;
    margin-top: 5px;
    line-height: 22px;
    text-align: left;
    margin-bottom: 5px;
}

.gender{
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin-bottom: 5px;
    /* color: linear-gradient(0deg, #000000, #000000); */
    color: linear-gradient(0deg, #29252E, #29252E);
}

.boldness{
    font-family: Nexa Bold;
    font-size: 17px;
    font-weight: 600;
    line-height: 17px;
    text-align: left;
    color: linear-gradient(0deg, #29252E, #29252E);
}

.profile-display{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.alte h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-align: left;
}

.alte p{
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    color: #29252E73;
    padding-top: 10px;
    text-align: center;
}

.miscellanous{
    height: 200px;
    padding-top: 50px;
}

.each-miscellanous{
    display: grid;
    grid-template-columns: 2fr 8fr;
    height: 60px;
    padding-left: 15px;
    border-bottom:#0000000A 2px solid;
    align-items: center;
}

.each-miscellanous i{
    font-size: 24px;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.crown{background: #9B139D;}

.set{background:#54B7A6;}

.sign{background:#ED4C5C;}

@media (max-width: 400px) {
    .image-photo img {
        height: 80px;
        margin: auto;
    }
    .image-photo .combo {
        position: absolute;
        color: #fff;
        background: purple;
        padding: 3px 7px;
        font-size: 12px;
        border-radius: 10px;
        text-align: center;
        margin-left: 38%;
    }
    .profile-user h2 {
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: 0.06em;
    }
    .profile-about h2 {
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
    }
    .lorem {
        font-size: 16px;
        margin-top: 5px;
        line-height: 22px;
        margin-bottom: 5px;
    }
    .boldness {
        font-family: Nexa Bold;
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        color: linear-gradient(0deg, #29252E, #29252E);
    }
    .header-interest h2 {
        font-size: 17px;
        font-weight: 600;
        line-height: 24px;
        margin-left: 15px;
    }
    .profile-display {
        margin-top: 50px;
    }
    .alte h2 {
        font-size: 20px;
        font-weight: 600;
    }
    .alte p {
        font-size: 14px;
    }
    .each-miscellanous{ height: 40px;}
    .each-miscellanous i {
        font-size: 18px;
        color: #fff;
        padding: 7px;
        border-radius: 7px;
    }
    .premium{
        font-size: 20px !important;
    }
    .at-email {
        font-size: 18px;
    }
}

.signoutflex{
    display: flex;
    justify-content: center;
    margin-top: 14px;
    margin-bottom: 10px;
}
.signoutp{
    max-width:220px;
text-align: center;
}
.btnsignout{
    width: 70%;
}
.signoutcard{
    bottom: 0;
}